@font-face {
  font-family: "inter";
  src: url(../font/Inter-Black.otf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-ExtraBold.otf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-ExtraBoldItalic.otf);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-ExtraLight.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-ExtraLightItalic.otf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-Thin.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-ThinItalic.otf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../font/Inter-V.ttf);
  font-weight: 400;
  font-style: normal;
}
