$primary-text-color: #ffffff;
$primary-backgound: #293b2b;
$accent-gradient: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
$background-linear-gradient: linear-gradient(
  0deg,
  rgba(41, 59, 43, 0.35),
  rgba(41, 59, 43, 0.35)
);
$header-background__linear-gradient: linear-gradient(
  0deg,
  rgba(22, 26, 22, 0) -37.5%,
  #161a16 68%
);
$breakpoint-desktop: 1024px;
$background-radial-gradient-desktop: radial-gradient(
  58.29% 46% at 50% 54%,
  rgba(41, 59, 43, 0) 50.26%,
  #293b2b 100%
);
$background-radial-gradient-mobile: radial-gradient(
  49.2% 38.83% at 50% 55.08%,
  rgba(41, 59, 43, 0) 23.4%,
  #293b2b 100%
);
