.swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.swiper-pagination {
  margin-bottom: 25px;
  display: none;
  @media screen and (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.swiper__text-box {
  @media screen and (min-width: $breakpoint-desktop) {
    text-align: start;
  }
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.8;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background: $accent-gradient;
}

.swiper__bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center, center, 50% 80%, center;
  @media screen and( min-width: $breakpoint-desktop) {
    background-position: center, center, 60% 50%, center;
  }
}

.swiper__bg-fans {
  background-image: $background-linear-gradient,
    $background-radial-gradient-mobile, url(../img/soccer_fans-mobile.png),
    url(../img/football_stadium.jpg);
  @media screen and( min-width: $breakpoint-desktop) {
    background-image: $background-linear-gradient,
      $background-radial-gradient-desktop, url(../img/soccer_fans.png),
      url(../img/football_stadium.jpg);
  }
}

.swiper__bg-girl {
  background-image: $background-linear-gradient,
    $background-radial-gradient-mobile, url(../img/girl-mobile.png),
    url(../img/benjamin-mobile.png);
  @media screen and( min-width: $breakpoint-desktop) {
    background-image: $background-linear-gradient,
      $background-radial-gradient-desktop, url(../img/girl.png),
      url(../img/benjamin.jpg);
  }
}
